@import "variables";
@import "reset";

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: $main-color;
  padding: 1em;
}
.navbar {
  margin: auto;
  max-width: 1260px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 2rem;
  padding-right: 2em;
}
.nav-el a {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}
.logo-el {
  justify-self: flex-start;
  margin-left: 10%;
}
.logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.burger {
  color: white;
  font-size: 1.5em;
  display: none;
}
.close {
  display: none;
}
@media only screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .close {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 1em;
    right: 1em;
    transition: all 1s ease-out;

    &:hover {
      cursor: pointer;
      transform: rotate(180deg);
    }
  }
  .nav {
    display: none;
    flex-direction: column;
    height: auto;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    .nav-el {
      border-bottom: 1px white solid;
      width: 100%;
      padding: 1em;
    }
    .control {
      position: absolute;
      top: 1.8em;
      right: 4em;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-el {
    position: absolute;
    left: 0;
    margin: 0.2em 1em;
  }
}
