@import "variables";
@import "reset";

body {
  background-color: $light-color;
  color: $dark-color;
}
.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: $main-color;
  padding: 1em;
}
.navbar {
  margin: auto;
  max-width: 1260px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 2rem;
  padding-right: 2em;
}
.nav-el a {
  color: $light-color;
  font-size: 1.3em;
  font-weight: bold;
}
.logo-el {
  justify-self: flex-start;
  margin-left: 10%;
}
.logo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.burger {
  color: $light-color;
  font-size: 1.5em;
  display: none;
}
.close {
  display: none;
}
.control {
  font-size: 2em;
}

#moon {
  color: $light-color;
  transition: all 2s ease-out;
  display: none;
}
#moon:hover {
  text-shadow: 3px 3px 10px $light-color;
}
#sun {
  display: block;
  color: yellow;
  text-shadow: 1px 1px 3px yellow;
  transition: all 2s ease-out;
}
#sun:hover {
  text-shadow: 3px 3px 10px yellow;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .close {
    display: block;
    font-size: 1.5rem;
    color: $light-color;
    position: absolute;
    top: 1em;
    right: 1em;
    transition: all 1s ease-out;

    &:hover {
      cursor: pointer;
      transform: rotate(180deg);
    }
  }
  .nav {
    display: none;
    flex-direction: column;
    height: auto;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    padding-right: 0;
    .nav-el {
      border-bottom: 1px $light-color solid;
      width: 100%;
      padding: 1em;
    }
    .control {
      position: absolute;
      top: 1.8em;
      right: 4em;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-el {
    position: absolute;
    left: 0;
    margin: 0.2em 1em;
  }
}
